html{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0 auto;
	background-image: url("../img/bg-login.jpg");
	background-size: cover;
	min-height: 600px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-repeat: no-repeat;
}

p{
	margin: 0px;
	padding: 0px;
}

h1{
	color: white;
}

.container{
	position: absolute;
}

#login-card{
	margin: 20px;
	margin-top: 50px;
	background-color: white;
	border-radius: 20px;
	align-items: center;
	position: relative;
	width: 350px;
	margin-left: auto;
    margin-right: auto;
}

.align-center{
	text-align: center;
	float: none !important;
}

.row-bottom-nomargin{
	margin-bottom: 0px !important;
}

.space-card{
	padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 15px !important;
}

#try-Login{
	border-radius: 20px;
	background-color: #b71c1c;
}

.error{
	background-color: brown !important;
}

.success{
	background-color: green !important;
}